.bannermt{
    background: url("https://image.tmdb.org/t/p/w533_and_h300_bestv2/5mLIEd1wpahGWHr0YFLsqFANY6X.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 230px;
    width: 440px;
    position: relative;
    padding: 15px;
}


span{
    font-size: 14px;
}


.infomt{
    width: 100%;
    margin: 10px;
    margin: 0;

    .tipomt{
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 6px;
        font-size: 14px;
        font-weight: lighter;
    }

    .duracaomt{
        margin: 15px;
    }

    .pmt{
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }
}

ion-item{
        --padding-start: 10px ;
    
        &:hover{
            --background: #ffff;        
        }
    }


    ion-slides {
        height: 37%;
      }
  
      .swiper-slide {
        display: block;
      }
  
      .swiper-slide h2 {
        margin-top: 2.8rem;
      }
  
      .swiper-slide img {
        max-height: 100%;
        max-width: 100%;
        margin: 15px 0 20px;
        pointer-events: none;
      }
